body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    ul, ol {
        margin-left: 25px !important;
    }
    img {
        margin-top: 20px;
    }
    .external-link {
        background-image: none !important;
        background-size: 0px !important;
        padding-right: 0px !important;
        background-position-y: 0px !important;
        cursor: auto !important;
    }
    .callout {
      --callout-color: 68, 138, 255;
      --callout-icon: lucide-pencil;
    }
    .callout[data-callout="abstract"],
    .callout[data-callout="summary"],
    .callout[data-callout="tldr"] {
      --callout-color: 0, 176, 255;
      --callout-icon: lucide-clipboard-list;
    }
    .callout[data-callout="info"],
    .callout[data-callout="todo"] {
      --callout-color: 0, 184, 212;
    }
    .callout[data-callout="info"] {
      --callout-icon: lucide-info;
    }
    .callout[data-callout="todo"] {
      --callout-icon: lucide-check-circle-2;
    }
    .callout[data-callout="tip"],
    .callout[data-callout="hint"],
    .callout[data-callout="important"] {
      --callout-color: 0, 191, 165;
      --callout-icon: lucide-flame;
    }
    .callout[data-callout="success"],
    .callout[data-callout="check"],
    .callout[data-callout="done"] {
      --callout-color: 0, 200, 83;
      --callout-icon: lucide-check;
    }
    .callout[data-callout="question"],
    .callout[data-callout="help"],
    .callout[data-callout="faq"] {
      --callout-color: 100, 221, 23;
      --callout-icon: lucide-help-circle;
    }
    .callout[data-callout="warning"],
    .callout[data-callout="caution"],
    .callout[data-callout="attention"] {
      --callout-color: 255, 145, 0;
      --callout-icon: lucide-alert-triangle;
    }
    .callout[data-callout="failure"],
    .callout[data-callout="fail"],
    .callout[data-callout="missing"] {
      --callout-color: 255, 82, 82;
      --callout-icon: lucide-x;
    }
    .callout[data-callout="danger"],
    .callout[data-callout="error"] {
      --callout-color: 255, 23, 68;
      --callout-icon: lucide-zap;
    }
    .callout[data-callout="bug"] {
      --callout-color: 245, 0, 87;
      --callout-icon: lucide-bug;
    }
    .callout[data-callout="example"] {
      --callout-color: 124, 77, 255;
      --callout-icon: lucide-list;
    }
    .callout[data-callout="quote"],
    .callout[data-callout="cite"] {
      --callout-color: 158, 158, 158;
      --callout-icon: quote-glyph;
    }
    .callout {
      border-left: 4px solid rgb(var(--callout-color));
      border-radius: 2px;
      background-color: var(--background-secondary);
      margin: 1em 0;
    }
    .callout .callout .callout-content {
      border-right: 1px solid rgba(var(--callout-color), 0.2);
      border-bottom: 1px solid rgba(var(--callout-color), 0.2);
    }
    .callout.is-collapsible .callout-title {
      cursor: var(--cursor);
    }
    .callout-title {
      padding: 10px;
      display: flex;
      gap: 10px;
      background-color: rgba(var(--callout-color), 0.1);
    }
    .callout-icon {
      flex: 0 0 auto;
      display: flex;
      align-self: center;
      color: rgb(var(--callout-color));
    }
    .callout-title-inner {
      flex: 1 1 0;
      font-weight: 700;
    }
    .callout-fold svg {
      transition: transform 100ms ease-in-out;
    }
    .callout.is-collapsed .callout-fold svg {
      transform: rotate(-90deg);
    }
    .markdown-source-view.mod-cm6 .callout {
      margin: 5px 0;
    }
    .callout-content {
      overflow-x: auto;
      padding: 5px 15px;
    }
}
